<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m3">
                <h5 class="white-text footer-title">coala</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://coala.io/docs">Documentation</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://coala.io/newcomer">Newcomer Docs</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://coala.io/coc">Code of Conduct</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://blog.coala.io/">Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="mailto:sponsoring@coala.io">Donate</a></li>
                </ul>
            </div>
            <div class="col m9">
                <div class="row footer-btn-row">
                    <div class="col m8">
                        <div class="twitter-btn center">
                            <a href="https://twitter.com/coala_io" class="waves-effect waves-light btn-large"><i class="fa fa-twitter" aria-hidden="true"></i><span class="footer-btn-text">Follow Us On Twitter</span></a>
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="gitter-btn center">
                            <a class="waves-effect waves-light btn-large"><i class="fa fa-commenting-o" aria-hidden="true"></i><span class="footer-btn-text">Chat On Gitter</span></a>
                        </div>
                    </div>
                </div>
                <div class="row footer-sponsor-row">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 coala
            <a class="grey-text text-lighten-4 right" href="#!">GNU AGPL v3.0</a>
        </div>
    </div>
</footer>
<script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'coala/coala',
        activationElement: '.gitter-btn',
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
